.events {
    display: flex;
    flex: 1 1 auto;
    overflow: auto;
    --past-bg-color: rgba(236,236,236,1);
}

.events-container {
    display: flex;
    flex-flow: row wrap;
    padding: 10px 0 10px 10px;
}

.events-column {
    display: flex;
    flex-direction: column;

    h2 {
        padding-left: 20px;
    }
}

.events-column-header {
    padding: 10px;
}

.event-card {
    margin: 1em;
    width: 300px;
}

.past-event {
    color: #8D8D8D;
    background-color: var(--past-bg-color);
    a {
        color: #858585;
    }
}