<div class="events">
  <div class="events-container">
    <div
      class="events-column"
      *ngFor="let day of events | eventsByDay: timezone | keyvalue"
    >
      <h2>{{ day.key }}</h2>
      <mat-card
        class="event-card"
        *ngFor="let event of day.value"
        [matTooltip]="tooltips[event.state()]"
        [class.past-event]="event.alreadyHappened()"
        [style.background]="getBackgroundGradient(event)"
      >
        <mat-card-header>
          <mat-card-title>{{ event.timeInTimezone(timezone) }}</mat-card-title>
          <mat-card-subtitle>{{ event.location }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a href="{{ event.link }}" target="_blank" title="Open in new tab"
            ><mat-icon>link</mat-icon></a
          >
          <a
            href="{{ event.getCalendarInvite() }}"
            target="_blank"
            title="Add to calendar"
            ><mat-icon>insert_invitation</mat-icon></a
          >
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
