.spacer {
  flex: 1 1 auto;
}

mat-toolbar > button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

mat-toolbar > button:hover {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}
