@import '~@angular/material/theming';

.spacer {
  flex: 1 1 auto;
}

mat-toolbar > button {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;

  :hover {
    color: $light-secondary-text;
  }
}
