@import "~@angular/material/theming";

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar-row {
  display: flex;

  .item {
    width: 300px;

    &.screen-s {
      display: none;
      @media screen and (max-width: 500px) {
        display: block;
      }
    }
    &.screen-m {
      display: block;
      @media screen and (max-width: 500px) {
        display: none;
      }
    }
  }
  .item-center {
    flex-grow: 1;
    text-align: center;
  }
  .item-right {
    text-align: right;
  }
  .item + .item {
    margin-left: 2%;
  }
}

#language {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;

  &:hover {
    color: $light-secondary-text;
  }
}

footer {
  display: block;
  background-color: mat-color(mat-palette($mat-deep-purple, 600, 500, 900));

  div.footer {
    padding: 12px;
    font-size: 12px;
    color: $light-primary-text;

    align-items: center;
    display: flex;
    flex-flow: row wrap;

    a {
      color: $light-primary-text;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    .footer-unaffiliated {
      display: flex;
      flex: 1;
      justify-content: flex-start;
      flex-direction: column;
    }
    .footer-github {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      flex-direction: column;

      div {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        text-align: right;
      }
    }
  }
}
